
.otherImgs section.imgSection {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align content to the bottom */
    text-align: center;
    font-size: 75%;
}

.imgSection img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

.otherImgs {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: auto; /* Push it to the bottom */
    gap: 10px;
}

.mainImg {
    grid-area: "mainImg";
    width: 100%;
}
.secondImg {
    grid-area: "secondImg";
    min-height: 50px;
    max-height: 200px;
    max-width: 100%;
    display: flex;
    align-content: flex-start;
}

section.mainImgSection {
    grid-area: mainImg;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
        "mainImg"
        "secondImg";
    grid-row-gap: 0px;
    margin: 10px;
/*                align-items: start;*/
}

section.projectDesc {
    grid-area: "desc";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.project1, .project2, .project3, .project4 {
    background-color: white;
    border-radius: 25px;
    display: grid;
    grid-template-columns: 1fr 40%;
    grid-template-areas: "desc mainImg";
    overflow: hidden;
    padding: 15px;
    column-gap: 15px;
}

.project1{grid-area: "project1"}
.project2{grid-area: "project2"}
.project3{grid-area: "project3"}
.project3{grid-area: "project4"}


main section.overview {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "project1",
                        "project2",
                        "project3",
                        "project4";
    grid-row-gap: 15px;
}
h1.sect2 {
    margin-top: 50px;
}
h2 img {
    height: 1em;
    vertical-align: middle;
    margin-left: 8px;
}

.otherImgs .imgSection img:hover, .mainImg:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

/*
.otherImgs .imgSection:active img, .mainImg:active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 25;
}
*/

.python-icon {
    height: 1em;
    vertical-align: middle;
}

li {
    font-size: 1.25em;
    padding-bottom: 10px;
}

li li {
    font-size: 1em;
}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20px;
    left: 0;
    /*right: 0;*/
    top: 100px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin: 0;
    padding: 0;
    
}

/* Modal Content */
.modal-content {
    background-color: #caf0f8;
    padding: 0px;
    padding-right: 5px;
    border: 1px solid #888;
    max-width: 100%;
    margin: 10px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}