.jobs {
    display: grid;
    grid-template-columns: 1fr; /* Stacking jobs vertically */
    grid-template-areas: 
        "job1"
        "job2"
        "job3";
    grid-row-gap: 30px; /* Adding space between job entries */
}

.lists {
    display: grid;
    grid-template-columns: 1fr; /* Stacking the lists vertically */
    grid-template-areas: "list1" "list2" "list3";
    grid-row-gap: 0px; /* Adding space between list sections */
}
.sideBySide {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    border: 0px;
    padding: 0px;
    width: 100%;
}